.container{
  width:100%;
  height: 100%
}
body,html{height: 100%;}
th {
  text-align: left;
}
header{
  height: 9%;
  background-color: #E3493B;
  color: #A9DDD9;
  padding-top: 1%;
  text-align: center;
}
nav{
  top:0;
  position: fixed;
  height: 10%;
  width: 100%;
  background-color: aliceblue;
  overflow: hidden;
}
nav ul{list-style-type: none}
nav li{display: inline; margin: 0 20px;}
nav h1{position: absolute; right:20px; top:0;}
div{
  width:80%;
  margin: auto;
  text-align: center
}
#feed{ height:81%; margin-top: 5%;}
#oink{width:100%;height: 100%;padding:0;}
#oink li img {width:auto; height:70%; float:left; margin:1%;}
#oink li{
  display:block;
  width: 100%;
  height:20%;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin: 1% 0;
  text-align: left
}
#follow{
  height:33%;
}

#followers{
  width:48%;
  height: 90%;
  float: left;
  border-radius: 20px;
  border: 1px solid #777;
}
#following{
  width:48%;
  height: 90%;
  float: right;
  border-radius: 20px;
  border: 1px solid #777;
}
#profile-top{
  width: 80%;
  margin: auto;
  margin-top:5%;
  height: 62%
}
nav a{color:#3A3A3C; text-decoration: none; font-size: 1.4em}
a:hover{color:#EEBA4C;}

/*FORM STYLING*/
label{width:130px; display:inline-block}
input{margin-bottom:20px}
textarea{margin-bottom:20px}
form{margin: 20px}
