.container{
  width:100%;
}

th {
  text-align: left;
}

header{
  height: 9%;
  background-color: #E3493B;
  color: #A9DDD9;
  padding-top: 1%;
  text-align: center;
}
nav{
  top:0;
  position: fixed;
  height: 10%;
  width: 100%;
  background-color: aliceblue;
  overflow: hidden;
}
nav ul{list-style-type: none}
nav li{display: inline; margin: 0 20px;}
nav h1{position: absolute; right:20px; top:0;}
div{
  width:80%;
  margin: auto;
  text-align: center
}
#feed{ height: auto;}
#oink{
  max-width: 50%;
  padding: 20px;

  padding:0;
  margin: 0 auto;
}


#oink li{
  padding:20px 0 ;
  display:block;
  width: auto;
  border-radius: 20px;
  border: 1.5px solid #ccc;
  margin: 1% 0;
  text-align: center
}
#oink section{
  width: 49%;
  display: inline-block;
  vertical-align: middle;
}
#oink li section img{
  width:48%;
  vertical-align: middle;
}
#follow{
  height:33%;
}

#follow-info{
  margin: 0 auto;
  padding: 20px;
  max-width: 250px;
}

#profile-top{
  width: 80%;
  margin: auto;
  margin-top:5%;
  height: 62%
}
nav a{color:#3A3A3C; text-decoration: none; font-size: 1.4em}
a:hover{color:#EEBA4C;}

/*FORM STYLING*/
label{width:130px; display:inline-block}
input{margin-bottom:20px}
textarea{
  margin-bottom: 20px;
  border: 1px dashed #BBB;
  border-radius: 20px;
  resize: none;
}
input[type="submit"]{
  border-radius:6px;
  background-color:white;
  border:1px solid #A9DDD9
}
input[type="submit"]:hover{
  border-radius:6px;
  background-color:aliceblue;
  color:red
}
form{margin: 20px}
