<%= nav %>
<section id="profile-top">
  <div id="image-area">
    <img src="great.jpg" width="300" height="300">
  </div>

  <section>
    <div id="followers">
      <strong>Followers: 3</strong>
    </div>
    <div id="following">
      <strong>Following: 1003</strong>
    </div>
  </section>
</section>

<div id="feed">
  <ul id="oink">
    <li><p>TEST, TEST, TEST</p></li>
    <li><p>TEST, TEST, TEST</p></li>
    <li><p>TEST, TEST, TEST</p></li>
    <li><p>TEST, TEST, TEST</p></li>
    <li><p>TEST, TEST, TEST</p></li>
    <li><p>TEST, TEST, TEST</p></li>
    <li><p>TEST, TEST, TEST</p></li>
    <li><p>TEST, TEST, TEST</p></li>
    <li><p>TEST, TEST, TEST</p></li>
    <li><p>TEST, TEST, TEST</p></li>
  </ul>
</div>
