<%=nav%>
<div id="feed">
  <ul id="oink">
    <li>
        <img src="ex.png" width="50" height="50">
        <p>TEST, TEST, TEST</p>
    </li>
    <li>
        <img src="ex.png" width="50" height="50">
        <p>TEST, TEST, TEST</p>
    </li>
        <li>
        <img src="ex.png" width="50" height="50">
        <p>TEST, TEST, TEST</p>
    </li>
        <li>
        <img src="ex.png" width="50" height="50">
        <p>TEST, TEST, TEST</p>
    </li>
        <li>
        <img src="ex.png" width="50" height="50">
        <p>TEST, TEST, TEST</p>
    </li>
        <li>
        <img src="ex.png" width="50" height="50">
        <p>TEST, TEST, TEST</p>
    </li>
  </ul>
</div>
