<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/users/<%=@user.id%>">Profile</a></li>
    <li><a href="/all_users">Browse Oinkers</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>

  <h1>OINKER</h1>
</nav>
