<header id="welcome-banner">
    <img src="/imgs/oinker_logo.png">
    <h1>OINKER</h1>
</header>

<div id="login">
  <form action="/users" method="post">
    <h3>Enter credentials:</h3>
    <!-- yay, labels! -->
    <label for="username">username:</label>
    <input type="text" name="username"><br>

    <label for="password">password:</label>
    <input type="password" name="password"><br>
    <input type="submit" value="Log In">
  </form>
</div>

<div id="signup">
  <form action="/users/new" method="post">
    <h3>New pig? Sign Up!</h3>
    <label for="username">full name:</label>
    <input type="text" name="name"><br>

    <label for="username">username:</label>
    <input type="text" name="username"><br>

    <label for="email">email:</label>
    <input type="text" name="email"><br>

    <label for="password">password:</label>
    <input type="password" name="password"><br>
    <input type="submit" value="Sign Up for Oinker!">
  </form>
</div>
